* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    justify-content: space-between;
    
}
body {
    padding: 0px 40px;
}
header {
    background-color: gray;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#site-search {
    width: 300px;
    height: 30px;
    padding: 5px;
}

#button-login {
    color: white;
    background-color: blue;
    padding: 3px 10px;
    box-shadow: 2px 2px black ;
}

.definicion {
    border: 2px solid black;
    padding: 10px 5px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
}

.grammar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600

}

.likes {
    background-color: yellow;
    padding: 2px 20px;
    box-shadow: 2px 2px black;
    margin: 15px 0px;
}

aside {
    border: 2px solid black;
    padding: 10px 5px;
    margin: 20px 0px 20px 20px;
}
#button-add {
    color: black;
    background-color: rgb(100, 211, 105);
    padding: 5px 20px;
    box-shadow: 3px 3px black;
    margin: 10px 0px;
}

div p {
    padding: 20px;
}
